body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Set background to black */
    margin: 0;
    padding: 0;
    color: #fff; /* Set default text color to white for better contrast */
  }
  
  .todo-wrapper {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1c1c1c; /* Dark gray background for the wrapper */
    border: 1px solid #444; /* Dark gray border */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .todo-input {
    margin-bottom: 20px;
  }
  
  .todo-input-item {
    margin-bottom: 15px;
  }
  
  .todo-input-item label {
    display: block;
    margin-bottom: 5px;
    color: #ccc; /* Light gray text color */
    font-weight: bold;
  }
  
  .todo-input-item input {
    width: 100%;
    padding: 10px;
    border: 1px solid #444; /* Dark gray border */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #333; /* Dark background for inputs */
    color: #fff; /* White text color */
  }
  
  .primaryBtn {
    background-color: #28a745; /* Green button */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .primaryBtn:hover {
    background-color: #218838; /* Darker green on hover */
  }
  
  .btn-area {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .secondary-btn {
    background-color: #4e4e4e; /* Dark button background */
    color: white;
    border: none;
    padding: 20px 30px;
    margin: 0 0px;
    /* border-radius: 5px; */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  .active{
    background-color: #28a745;
  }
  
  .todo-list {
    border-top: 1px solid #444; /* Dark gray border */
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c; /* Dark gray background for list items */
    padding: 15px;
    border: 1px solid #444; /* Dark gray border */
    border-radius: 5px;
    margin-bottom: 10px;
   box-shadow: 0px 3px 5px rgb(50, 50, 50);
   align-items: center;
    
  }
  
  .todo-list-item>h3 {
    
   margin: 0 0 10px;
   color: #28a745;
  }
  

  
  .todo-list-item>p {
    margin: 0;
    color: #ccc; /* Light gray text color */
  }
  
 .icon{
  font-size: 35px;
    cursor: pointer;

 }
 .icon:hover{
  color: red;
 }

.check-icon{
  font-size: 35px;
  margin-left: 10px;
  color: #28a745;
  cursor: pointer;
}

.check-icon:hover{
  color: #218838;
}







